* { margin: 0; padding: 0; }
a { text-decoration: underline; }
body { background: url(/Content/gfx/bodyBg.png); color: #333; font-family: Arial, Helvetica,sans-serif; line-height: 1.8;}

#pageWrap { width: 900px; margin: auto; }
#pageWrap #errorWindow { background: #CC0000; padding: 20px; color: #FFF; position: absolute; width: 860px; display: none;}
#pageWrap header h1 { font-family: Consolas, Courier, Monospace; font-size: 2.2em; clear: both;}
#pageWrap header #logindisplay { float: right; margin-bottom: 40px; font-size: .8em; }
#pageWrap header a { color: #333; }
#pageWrap header a:hover { color: #868482; }
#pageWrap header nav > ul { list-style-type: none; margin-top: -45px; }
#pageWrap header nav > ul > li { float: right; margin-left: 20px; }
#pageWrap header nav ul ul { display: none; }
#pageWrap header nav ul li:hover ul { display: block; }
#pageWrap .editQaType a { background: url(/Content/gfx/icons.png) no-repeat 8px -120px; }
#pageWrap header nav ul li.newQaLink { width: 120px; position: relative;}
#pageWrap header nav ul li.newQaLink > a { background: url(/Content/gfx/icons.png) no-repeat 8px -90px; }
#pageWrap header nav ul li.newQaLink > a:active { background-color: transparent; text-decoration: none;}
#pageWrap header nav ul ul { background: #F7F6F3; border-radius: 6px; list-style: none; }
#pageWrap header nav ul ul li a { display: block; padding: 3px 6px; line-height: 20px;  }
#pageWrap header nav ul ul li a:hover,header nav ul ul li a:focus { background: #868482; color: #F7F6F3; }
#pageWrap section h1 { font-size: 1.6em; }
#pageWrap .button > a, .button > span {  padding: 8px 10px 8px 36px; cursor: pointer; font-weight: bold; color: #333; text-decoration: none; border-radius: 6px; }
#pageWrap .button > a:hover { color: #333; }
#pageWrap .button { border: 1px solid #868482; border-radius: 6px; background-color: transparent; background-image: linear-gradient(bottom, #DCDAD7 0%, #F7F6F3 100%); height: 30px; font-size: 12px; line-height: 31px;
				   background-image: -o-linear-gradient(bottom, #DCDAD7 0%, #F7F6F3 100%);
				   background-image: -moz-linear-gradient(bottom, #DCDAD7 0%, #F7F6F3 100%);
				   background-image: -webkit-linear-gradient(bottom, #DCDAD7 0%, #F7F6F3 100%);
				   background-image: -ms-linear-gradient(bottom, #DCDAD7 0%, #F7F6F3 100%); }
#pageWrap .button:hover { background-color: transparent;
				  background-image : linear-gradient(bottom, #F7F6F3 0%, #DCDAD7 100%); 
				   background-image: -o-linear-gradient(bottom, #F7F6F3 0%, #DCDAD7 100%);
				   background-image: -moz-linear-gradient(bottom, #F7F6F3 0%, #DCDAD7 100%);
				   background-image: -webkit-linear-gradient(bottom, #F7F6F3 0%, #DCDAD7 100%);
				   background-image: -ms-linear-gradient(bottom, #F7F6F3 0%, #DCDAD7 100% ); }
				   
#pageWrap .button a:active { text-decoration: underline; background-color: rgba(0,0,0,.1); }

#contentWrap { clear: both; padding-top: 20px; font-size: .85em; }
#contentWrap table { background: rgba(255,255,255,0.5); text-align: left; border-collapse: collapse; margin-top: 20px; }
#contentWrap table thead th { border-bottom: 1px solid #333; }
#contentWrap table td, #contentWrap table th { padding: 5px 20px; }
#contentWrap table tbody tr:nth-of-type(odd) td { background: rgba(255,255,255, .7); }
#contentWrap #tableFilterInput { background-image: url(/Content/gfx/icons.png); background-position: 8px -60px; padding-left: 32px; }
#contentWrap input[type=text], #contentWrap input[type=search]  { background-color: rgba(255,255,255,.5); background-repeat: no-repeat; height: 30px; width: 200px; border-radius: 6px; border: 1px solid #868482; margin: 20px 0; padding: 0 10px; color: #333; clear: both; display: block; }
#contentWrap input[type=text].loading, #contentWrap textarea.loading { background-image: url(/Content/gfx/inputLoader.gif); background-repeat: no-repeat; background-position: right 3px; }
#contentWrap input[type=text]:focus, #contentWrap input[type=search]:focus, #contentWrap #tableFilterInput:focus { border: 1px solid #333; background-color: rgba(255,255,255,1); }  
#contentWrap h1 { border-bottom: 1px solid #333; line-height: 1.6em; margin-top: 1em; }
#contentWrap section h1 {border: 0; }
#contentWrap .button { margin: 20px 0; float: left; }
#contentWrap a { color: #333; padding:3px;}
#contentWrap ul a:hover, #contentWrap p a:hover, #contentWrap ul a:focus, #contentWrap p a:focus  { color: #F7F6F3; background: #333; }
#contentWrap ul { margin: 0 14px 1em 14px; }
#contentWrap .editQaType.button { float: right; } 
#contentWrap .editableCategory h1:hover { background: rgba(255,255,255,.5); border-radius: 6px; }
#contentWrap h1 a { display: none; }
#contentWrap h1:hover a { display: inline; }
				   
/* Edit QA instance */

#contentWrap .editableCategory .qaInstanceList { margin: 0 0 20px 0; }
#contentWrap .editableCategory .qaInstanceList div.radio { float: left; width: 30px; }
#contentWrap .editableCategory .qaInstanceList div.radio span { display: block; }
#contentWrap .editableCategory .qaInstanceList div.radio span input { width: 21px; height: 21px; margin-left: 5px; cursor: pointer}
#contentWrap .editableCategory .qaInstanceList .number { float: left; width: 22px; }
#contentWrap .editableCategory .qaInstanceList .content { float: left; width: 766px; }
#contentWrap .editableCategory .qaInstanceList div.question span { background: url(/Content/gfx/icons.png) no-repeat 8px -242px; }
#contentWrap .editableCategory .qaInstanceList div.question span.checked { background: url(/Content/gfx/icons.png) no-repeat 8px -332px; }
#contentWrap .editableCategory .qaInstanceList div.yes span { background: url(/Content/gfx/icons.png) no-repeat 8px -182px; }
#contentWrap .editableCategory .qaInstanceList div.yes span.checked { background: url(/Content/gfx/icons.png) no-repeat 8px -272px; }
#contentWrap .editableCategory .qaInstanceList div.no span { background: url(/Content/gfx/icons.png) no-repeat 8px -212px;  }
#contentWrap .editableCategory .qaInstanceList div.no span.checked { background: url(/Content/gfx/icons.png) no-repeat 8px -302px;  }
#contentWrap .editableCategory .qaInstanceList li { clear: both; list-style-type: none; overflow: hidden; }
#contentWrap .editableCategory .qaInstanceList li:hover { background: rgba(255,255,255,.5); border-radius: 6px; }
#contentWrap .editableCategory .qaInstanceList li:hover a.addComment { display: block; }
#contentWrap .editableCategory .qaInstanceList a.addComment { display: none; float: right; padding: 0; text-indent: -999999px; width: 22px; height: 1.8em; background: url(/Content/gfx/icons.png) no-repeat 4px -153px; }
#contentWrap .editableCategory .qaInstanceList a.addComment:hover { background-color: rgba(255,255,255,1); border-radius: 6px; }
#contentWrap .qaInstanceButton { height: 40px; line-height: 40px; float: right; margin-left: 20px;}
#contentWrap .qaInstanceButton a { line-height: 40px; padding: 13px 12px 13px 44px; font-size: 15px; } 
#contentWrap .publish a { background: url(/Content/gfx/tickBig.png) no-repeat 8px 10px;  }
#contentWrap .unpublish a { background: url(/Content/gfx/crossBig.png) no-repeat 8px 10px;  }
#contentWrap .editableCategory .qaInstanceList .commentArea {clear: both; padding-left: 120px; display: none; overflow: hidden; } 
#contentWrap .editableCategory .qaInstanceList .commentArea textarea { border: 1px solid #868482; background-color: rgba(255,255,255,.2); width: 600px; height: 80px; float: left; margin-bottom: 10px; border-radius: 6px; padding: 10px; font-family: Arial, Helvetica, Sans-Serif;}
#contentWrap .editableCategory .qaInstanceList .commentArea textarea:focus { border: 1px solid #333; background-color: rgba(255,255,255,1) }
#contentWrap .editableCategory .qaInstanceList .commentArea textarea.loading {}

/* Edit QA type */ 

#contentWrap .addItemButton { clear: both; }
#contentWrap .addItemButton a {  background: url(/Content/gfx/icons.png) no-repeat 8px -360px;  }
#contentWrap ol { margin: 0 20px; }
#contentWrap ol li { padding: 0 8px; }
#contentWrap ol li a { display: none;  }
#contentWrap .editableCategory ol li:hover { background: rgba(255,255,255,.5); border-radius: 6px; }
#contentWrap ol li:hover a { display: inline;  }
#contentWrap #sectionWrapper section { clear: both; overflow:hidden; }
#contentWrap input.editing { display: inline; width: 600px; clear: none; margin-bottom: 5px; margin-top: 5px;}

/* View QA instance */

#contentWrap .viewQaInstanceList { margin-left: 0; }
#contentWrap .viewQaInstanceList li { list-style-type:none; }
#contentWrap .viewQaInstanceList li .status { float: left; width: 20px; text-indent: -99999px; outline: 0; }
#contentWrap .viewQaInstanceList li .statusN { background: url(/Content/gfx/icons.png) no-repeat 0 -304px; }
#contentWrap .viewQaInstanceList li .statusY { background: url(/Content/gfx/icons.png) no-repeat 0 -272px; }
#contentWrap .viewQaInstanceList li .statusQ { background: url(/Content/gfx/icons.png) no-repeat 0 -334px; }
#contentWrap .viewQaInstanceList li .commentArea { margin-left: 42px; font-size: .9em; }
#contentWrap .viewQaInstanceList li .number { float: left; width: 22px; }


/* Login-box */

#contentWrap #loginBox { width: 400px; margin: auto; margin-top: 200px; background: rgba(255,255,255,.5); border-radius: 6px; padding-bottom: 20px; padding-top: 1px;}
#contentWrap #loginBox h1 { border-bottom: 1px solid #333; margin: 20px; }
#contentWrap #loginBox label { font-weight: bold; display: block; margin: 20px 20px 0 20px; }
#contentWrap #loginBox input { margin: 5px 20px 0 20px; }
#contentWrap #loginBox input[type=submit] { background: #333; color: #FFF; padding: 5px 15px; border: 1px solid #333; border-radius: 6px; display: block; }

/* Edit QA index */
#contentWrap .editQaTypeList { margin-top: 20px; }