@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>
<p>Til slutt skal dette bli en superapp for å holde styr på og utføre QA av prosjekter!</p>

<ul>
    <li>En ikke-publisert QA er kun synlig av dens skaper.</li>
</ul>

http://visualstudiogallery.msdn.microsoft.com/a921b98e-9430-4be2-bf53-1169e12bdb50 - CSS Lint i VS2011