@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="textContentWrapper">
<h2>About</h2>
<p>Til slutt skal dette bli en superapp for å holde styr på og utføre QA av prosjekter!</p>

</div>