@{
    ViewBag.Title = "Home Page";
}

<input type="search" id="tableFilterInput" placeholder="Søk...">
<table>
<thead>
    <tr>
        <th>Navn</th>
        <th>QA-type</th>
        <th>Publisert dato</th>
        <th>Gjennomført av</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Advokatenhjelperdeg</td>
        <td>Frontend</td>
        <td>20.10.2011</td>
        <td>thomas.leela</td>
    </tr>
    <tr>
        <td>Advokatenhjelperdeg</td>
        <td>Backend</td>
        <td>20.10.2011</td>
        <td>thomas.leela</td>
    </tr>
    <tr>
        <td>Ricanet</td>
        <td>Frontend</td>
        <td>13.05.2011</td>
        <td>arve.systad</td>
    </tr>
    <tr>
        <td>Røde Kors</td>
        <td>Frontend</td>
        <td>20.10.2011</td>
        <td>aud.marie.hauge</td>
    </tr>
</tbody>
</table>