@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";     
}

<h1>Edit QA-type</h1>
<table>
<thead>
    <tr>
        <th>Navn</th>
        <th>Antall kriterier</th>
    </tr>
</thead>
<tbody>
@foreach (QaType qaType in Model) { 
    <tr>
        <td>@Html.ActionLink(qaType.Name, "Edit", new { id = qaType.Id })</td>
        <td>@qaType.GetTotalCriteriaCount()</td>
    </tr>
  }
</tbody>
</table>
<span class="button editQaType">@Html.ActionLink("Ny QA-type", "New")</span>