@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";     
}

<h1>Edit QA-type</h1>
<span class="button editQaType">@Html.ActionLink("Ny QA-type", "New")</span>

<ul>
@foreach (QaType qaType in Model) { 
    <li>@Html.ActionLink(qaType.Name, "Edit", new { id = qaType.Id })</li>
  }
</ul>